@font-face {
  font-family: light;
  src: url(../fonts/light.otf);
}

@font-face {
  font-family: dex;
  src: url(../fonts/Pervitina-Dex-FFP.ttf);
}

@font-face {
  font-family: midium;
  src: url(../fonts/Medium.otf);
}

@font-face {
  font-family: avenir;
  src: url(../fonts/AvenirLTStd-Roman.otf);
}

@font-face {
  font-family: calibri;
  src: url(../fonts/calibri.ttf);
}

@-webkit-keyframes mitop {
  0% {
    opacity: 0;
    -webkit-transform: translatey(-100px);
            transform: translatey(-100px);
  }
  80% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes mitop {
  0% {
    opacity: 0;
    -webkit-transform: translatey(-100px);
            transform: translatey(-100px);
  }
  80% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes mibottom {
  0% {
    opacity: 0;
    -webkit-transform: translatey(-100px);
            transform: translatey(-100px);
  }
  80% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes mibottom {
  0% {
    opacity: 0;
    -webkit-transform: translatey(-100px);
            transform: translatey(-100px);
  }
  80% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes mileft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  80% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes mileft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  80% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes mileft2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  80% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes mileft2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  80% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes miright {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  80% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes miright {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  80% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes mibottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

body {
  margin: 0;
  padding: 0;
  background: #061822;
  -webkit-transition: 1.6s ease;
  transition: 1.6s ease;
}

.header {
  height: 100%;
  width: 90%;
  color: #061822;
  -webkit-transition: 3s ease;
  transition: 3s ease;
  margin: auto;
}

.navbar {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(6, 24, 34, 0.9)), to(rgba(14, 8, 8, 0.9))), url(../img/bg.jpg);
  background-image: linear-gradient(to right bottom, rgba(6, 24, 34, 0.9), rgba(14, 8, 8, 0.9)), url(../img/bg.jpg);
  background-size: cover;
}

.flex2 {
  visibility: hidden;
}

.flex {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-logo {
  width: 20%;
  padding: 5vh;
}

.flex-item {
  margin: auto;
}

.flex-nav {
  width: 80%;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-nav a:link {
  text-decoration: none;
  color: white;
  font-family: light;
  font-size: 4vh;
  float: right;
}

.flex-nav a:visited {
  color: white;
}

.flex-nav a:hover {
  color: #ee030a;
}

.flex-items {
  padding-right: 8vh;
}

.slider {
  font-family: midium;
  padding-bottom: 20vh;
}

.slider-header {
  color: white;
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.slider-main {
  display: block;
  font-size: 18vh;
  font-weight: 400;
  letter-spacing: 35px;
  -webkit-animation: mileft 3s ease-out;
          animation: mileft 3s ease-out;
}

.slider-sub {
  display: block;
  font-size: 6vh;
  font-weight: 400;
  letter-spacing: 15px;
  -webkit-animation: miright 3s ease-out;
          animation: miright 3s ease-out;
}

.facilitySub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.facilitySub-header {
  font-size: 10vh;
  font-family: midium;
  color: #061822;
  padding: 10vh;
}

.facilitySub-line {
  margin: 3vh;
  width: 40%;
  height: 1px;
  border-radius: 60px;
  background: #ee030a;
}

.aboutsub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aboutsub-header {
  font-size: 10vh;
  font-family: midium;
  color: #061822;
  padding: 10vh;
}

.aboutsub-line {
  margin: 3vh;
  width: 40%;
  height: 1px;
  border-radius: 60px;
  background: #ee030a;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #c5c5c5;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-header {
  font-size: 10vh;
  font-family: midium;
  color: #061822;
  padding: 10vh;
}

.contact-line {
  margin: 3vh;
  width: 40%;
  height: 1px;
  border-radius: 60px;
  background: #ee030a;
}

.images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.images-header {
  font-size: 10vh;
  font-family: midium;
  color: #061822;
  padding: 10vh;
}

.images-line {
  margin: 3vh;
  width: 40%;
  height: 1px;
  border-radius: 60px;
  background: #ee030a;
}

.facilitiesb {
  visibility: hidden;
  height: 0;
  width: 0;
}

.facilities {
  width: 100%;
  background: white;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70vh;
}

.facilities-img {
  width: 100%;
  height: 100%;
}

.facilities-imgb {
  width: 0;
}

.facilities-imgb-sub2 {
  visibility: hidden;
  width: 0;
  height: 0;
}

.facilities-imgs {
  width: 50%;
  height: 100%;
  position: relative;
}

.facilities-imgs-sub {
  position: absolute;
  color: #061822;
  font-size: 8vh;
  font-family: dex;
  top: 57vh;
  left: 4vh;
  -webkit-animation: mileft 3s ease-out;
          animation: mileft 3s ease-out;
}

.facilities-imgs-sub2 {
  position: absolute;
  color: white;
  font-size: 8vh;
  font-family: dex;
  top: 57vh;
  left: 32vh;
  -webkit-animation: miright 3s ease-out;
          animation: miright 3s ease-out;
}

.facilities-imgc {
  width: 50%;
  height: 100%;
  position: relative;
}

.facilities-imgc-sub {
  position: absolute;
  color: #061822;
  font-size: 8vh;
  font-family: dex;
  top: 57vh;
  left: 4vh;
  -webkit-animation: mileft 3s ease-out;
          animation: mileft 3s ease-out;
}

.facilities-imgc-sub2 {
  position: absolute;
  color: white;
  font-size: 8vh;
  font-family: dex;
  top: 57vh;
  left: 32vh;
  -webkit-animation: miright 3s ease-out;
          animation: miright 3s ease-out;
}

.facilities-writing {
  width: 50%;
  font-family: midium;
  padding: 5vh;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.facilities-writing-head {
  font-size: 8vh;
  padding-bottom: 5vh;
}

.facilities-writing-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.facilities-writing-flex2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2vh;
}

.facilities-writing-line {
  width: 40%;
  height: 1px;
  background: #0e0808;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.facilities-writing-item {
  font-family: midium;
  width: 30%;
  padding-left: 5vh;
  font-size: 6vh;
  padding-bottom: 1vh;
  color: #ee030a;
}

.facilities-writing-item2 {
  font-family: midium;
  width: 50%;
  font-size: 6vh;
  padding-bottom: 1vh;
  color: #061822;
}

.facilities .ani-1 {
  -webkit-animation: mileft2 1s ease-out;
          animation: mileft2 1s ease-out;
}

.facilities .ani-2 {
  -webkit-animation: mileft2 2s ease-out;
          animation: mileft2 2s ease-out;
}

.facilities .ani-3 {
  -webkit-animation: mileft2 3s ease-out;
          animation: mileft2 3s ease-out;
}

.facilities .ani-4 {
  -webkit-animation: mileft2 4s ease-out;
          animation: mileft2 4s ease-out;
}

.facilities-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Slideshow container */
.Slideshow {
  width: 100%;
  background: white;
  padding-bottom: 4vh;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  width: 80%;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.container {
  width: 100%;
  background: white;
  padding-bottom: 9vh;
}

.about {
  width: 50%;
  background: white;
  margin: auto;
  font-size: 4vh;
  font-family: light;
  letter-spacing: 1px;
  line-height: 1.5;
}

.footer {
  background: #c5c5c5;
}

.footer-sec1 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-sec1 {
  width: 100%;
}

.footer-address {
  width: 50%;
  padding-left: 4vh;
  font-size: 4vh;
  font-family: midium;
  padding-bottom: 5vh;
}

.footer-phone {
  width: 50%;
  padding-right: 5vh;
  font-size: 4vh;
  font-family: calibri;
}

.footer-container {
  width: 30%;
  margin: auto;
  padding-top: 4vh;
  padding-bottom: 2vh;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: auto;
}

.footer-social-img {
  width: 5vh;
  margin-right: 2vh;
}

.footer-line {
  width: 80%;
  height: 1px;
  background: grey;
  margin: auto;
}

.footer-name {
  font-size: 3vh;
  margin: auto;
  font-family: midium;
  padding-top: 2vh;
  padding-bottom: 4vh;
}

@media screen and (max-width: 800px) {
  .header {
    width: 100%;
  }
  .flex2 {
    visibility: visible;
    width: 100%;
    padding-bottom: 2vh;
  }
  .flex2-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .flex2-item a:link {
    text-decoration: none;
    color: white;
    font-family: light;
    font-size: 4vh;
    float: right;
  }
  .flex2-item a:visited {
    color: white;
  }
  .flex2-item a:hover {
    color: #ee030a;
  }
  .flex2-items {
    margin: auto;
    width: 50%;
    padding: 1vh;
  }
  .flex {
    display: inline;
    width: 100%;
  }
  .flex-logo {
    width: 45%;
    margin: auto;
    padding: 0vh;
  }
  .flex-item {
    visibility: hidden;
    height: 0;
  }
  .slider {
    font-family: midium;
    padding-bottom: 4vh;
  }
  .slider-main {
    width: 100%;
    font-size: 4vh;
    font-weight: 300;
    letter-spacing: 10px;
    -webkit-animation: mileft 3s ease-out;
            animation: mileft 3s ease-out;
  }
  .slider-sub {
    width: 100%;
    font-size: 2.6vh;
    font-weight: 400;
    letter-spacing: 1px;
    -webkit-animation: miright 3s ease-out;
            animation: miright 3s ease-out;
  }
  .facilitySub {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: white;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .facilitySub-header {
    font-size: 5vh;
    font-family: midium;
    color: #061822;
    padding: 4vh;
    margin: auto;
  }
  .facilitySub-line {
    margin: 0vh;
    width: 0%;
    height: 0px;
    visibility: hidden;
  }
  .facilities {
    width: 100%;
    display: inline;
    height: 100%;
    background-color: white;
  }
  .facilities-img {
    width: 100%;
    height: 100%;
  }
  .facilities-imgs {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .facilities-imgs-sub {
    font-size: 3.5vh;
    top: 25vh;
    left: 3vh;
  }
  .facilities-imgs-sub2 {
    font-size: 8vh;
    top: 57vh;
    left: 32vh;
  }
  .facilities-imgb {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .facilities-imgb-sub2 {
    font-size: 6vh;
    position: absolute;
    font-family: dex;
    color: white;
    top: 16vh;
    left: 23vh;
    visibility: visible;
  }
  .facilities-imgc {
    width: 0px;
    height: 0%;
    display: none;
  }
  .facilities-imgc-sub2 {
    visibility: hidden;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
  }
  .facilities-writing {
    width: 100%;
    padding: 1.5vh;
    background-color: white;
  }
  .facilities-writing-head {
    font-size: 6vh;
    padding-bottom: 1vh;
  }
  .facilities-writing-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .facilities-writing-flex2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .facilities-writing-line {
    width: 40%;
    height: 1px;
    background: #0e0808;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .facilities-writing-item {
    width: 30%;
    padding-left: 2.5vh;
    font-size: 3vh;
    padding-bottom: 1vh;
    color: #ee030a;
  }
  .facilities-writing-item2 {
    font-family: midium;
    width: 70%;
    font-size: 3vh;
    padding-bottom: 1vh;
    color: #061822;
  }
  .facilities-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: white;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .images-header {
    font-size: 5vh;
    font-family: midium;
    color: #061822;
    padding: 4vh;
    margin: auto;
  }
  .images-line {
    margin: 0vh;
    width: 0%;
    height: 0px;
    visibility: hidden;
  }
  .aboutsub {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: white;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .aboutsub-header {
    font-size: 5vh;
    font-family: midium;
    color: #061822;
    padding: 4vh;
    margin: auto;
  }
  .aboutsub-line {
    margin: 0vh;
    width: 0%;
    height: 0px;
    visibility: hidden;
  }
  .about {
    width: 85%;
    font-size: 2.5vh;
    font-family: light;
    letter-spacing: 1px;
    line-height: 1.5;
  }
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: white;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .contact-header {
    font-size: 5vh;
    font-family: midium;
    color: #061822;
    padding: 4vh;
    margin: auto;
  }
  .contact-line {
    margin: 0vh;
    width: 0%;
    height: 0px;
    visibility: hidden;
  }
  .footer {
    background: #c5c5c5;
    display: inline;
  }
  .footer-sec1 {
    width: 100%;
    display: inline;
    background: #c5c5c5;
  }
  .footer-address {
    width: 100%;
    font-size: 2.5vh;
    font-family: midium;
    padding-bottom: 1vh;
    padding-top: 2vh;
    background: #c5c5c5;
  }
  .footer-phone {
    width: 100%;
    padding-right: 5vh;
    font-size: 4vh;
    font-family: calibri;
    background: #c5c5c5;
  }
  .footer-container {
    background: #c5c5c5;
    width: 100%;
    margin: auto;
    padding-top: 4vh;
  }
  .footer-social {
    background: #c5c5c5;
    display: inline;
    width: 100%;
    margin: auto;
  }
  .footer-social-img {
    width: 5vh;
    margin-right: 2vh;
  }
  .footer-line {
    width: 80%;
    height: 1px;
    background: grey;
    margin: auto;
    background: #c5c5c5;
  }
  .footer-name {
    font-size: 3vh;
    margin: auto;
    font-family: midium;
    padding-top: 2vh;
    padding-bottom: 4vh;
    background: #c5c5c5;
  }
}
/*# sourceMappingURL=style.css.map */